CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build*/
*.pyc
.tags*
.ipynb_checkpoints
log/*
output/*
*.aux
*.synctex.gz
*.bak
rsync-proj.sh
task-issue.md
__pycache__
.pytest_cache
